# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Output directories
publish/
XEF2JPEG_Output/
XEF2JPEG_Input/
